<div class="market_detail_sidebar" style="float:left;width: 15%;height:100%;margin:20px;">
	<div class="flex-shrink-0 p-3 bg-white">
		<a href="market_info" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
			<svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
			<span class="fs-5 fw-semibold">전통시장 현황</span>
		</a>
		<ul class="list-unstyled ps-0">
			<li class="mb-1">
				<button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
					부산 전통시장
				</button>
				<div class="collapse show" id="home-collapse">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
						<li><a href="market_detail?market=gukje" class="link-dark rounded" style="text-decoration: none;">국제시장</a></li>
						<li><a href="market_detail?market=busanjin" class="link-dark rounded" style="text-decoration: none;">부산진시장</a></li>
						<li><a href="market_detail?market=boojun" class="link-dark rounded" style="text-decoration: none;">부전마켓타운</a></li>
						<li><a href="market_detail?market=gupo" class="link-dark rounded" style="text-decoration: none;">구포시장</a></li>
						<li><a href="market_detail?market=bupyeongkkangtong" class="link-dark rounded" style="text-decoration: none;">부평깡통시장</a></li>
					</ul>
				</div>
			</li>
			<!--<li class="mb-1">
				<button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
					<a href="market_info" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none">시세비교</a>
				</button>
			</li>-->
		</ul>
	</div>
</div><br>